.admin {
  width: 50%;
  height: 40%;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

.admin_link {
  border-radius: 10px;
  border: 2px solid #000000;
  display: block;
  font-size: 48px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30%;
}

/* order */
.genre {
  width: 15%;
}

.name {
  width: 60%;
}

.cost {
  width: 10%;
}

.number {
  width: 7.5%;
}

.button {
  width: 7.5%;
}

.order {
  margin: 0 auto;
  text-align: center;
}

.order_table {
  font-size: 24px;
  margin:  auto;
  margin-top: 30px;
  width: 80%;
  text-align: center;
}
/* order */

/* product */
.product {
  max-width: 1500px;
  width: 100%;
  text-align: center;
}

.pro_flex {
  display: flex;
}

.genre2 {
  width: 10%;
}

.name2 {
  width: 20%;
}

.cost2 {
  width: 10%;
}

.content2 {
  width: 30%;
}

.images2 {
  width: 20%;
}

.img_size {
  max-width: 300px;
  width: 100%;
}

.button2 {
  font-size: 20px;
}

.input2 {
	margin-left: 5%;
	height: 250px;
	width: 90%;
}
/* product */


/* user */
.user {
  margin:  auto;
  margin-top: 60px;
  max-width: 1500px;
  width: 100%;
  text-align: center;
}

.id3 {
  width: 5%;
}

.name3 {
  width: 35%;
}

.email3 {
  width: 50%;
}

.button3 {
  width: 5%;
}
/* user */

/* edit */
.input {
  width: 100%;
  font-size: 24px;
}

.edit_user {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
  width: 100%;
}

.edit_user label{
  font-size: 24px;
}

.button4 {
  font-size: 24px;
}
/* edit */

.button_right {
	text-align: right;
}
.max {
  padding-top: 24px;
  font-size: 24px;
  text-align: end;
}



@media screen and (max-width: 1300px) {
  .order_table {
    font-size: 20px;
  }
}

@media screen and (max-width: 1199px) {
  /* order */  
  .order_table {
    width: 95%;
    font-size: 16px;
  }
  /* order */

  /* product */
  .product {
    font-size: 14px;
  }
  .max {
    padding-top: 24px;
    font-size: 16px;
    text-align: end;
  }
  .pro_flex {
    display: block;
  }
  .input21 {
    width: 90%;
    margin-left: 5%;
  }
  .pro_label {
    font-size: 24px;
  }
  /* product */

  /* user */
  .user {
    font-size: 14px;
  }
  .button2 {
    font-size: 12px;
  }
  .id3 {
    font-size: 16px;
  }
  .name3 {
    font-size: 16px;
  }
  .email3 {
    font-size: 14px;
  }
  /* user */

  /* edit */
  .input {
    width: 100%;
    height: px;
    font-size: 20px;
  }
  .edit_user {
    max-width: 70%;
  }
  .edit_user label{
    font-size: 18px;
  }
  .button4 {
    font-size: 20px;
  }
  .ad-button {
    font-size: 12px;
  }
}

@media screen and (max-width: 870px) {
  .order_table {
    font-size: 14px;
  }
  button {
    font-size: 10px;
  }
  .product {
    font-size: 12px;
  }
  .user {
    font-size: 14px;
  }
}

@media screen and (max-width: 720px) {
  .order_table {
    width: 100%;
    font-size: 12px;
  }
  .admin {
    width: 70%;
  }
  button {
    font-size: 8px;
  }
  .ad-button {
    font-size: 8px;
  }
}

@media screen and (max-width: 550px) {
  .product {
    font-size: 10px;
  }
  .user {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .order_table {
    font-size: 10px;
  }
}

@media screen and (max-width: 400px) {
  .edit_user {
    max-width: 80%;
  }
  .button4 {
    font-size: 16px;
  }
  .product {
    font-size: 8px;
  }
  .user {
    font-size: 14px;
  }
}