.cart {
  margin:  auto;
  margin-top: 100px;
  width: 80%;
  text-align: center;
}
.cart_button {
  font-size: 16px;
}
.left {
  margin-left: auto;
}
.genre {
  width: 15%;
}
.name {
  width: 60%;
}
.cost {
  width: 10%;
}
.number {
  width: 5%;
}
.button {
  width: 5%;
}
.genre1 {
  width: 15%;
}
.name1 {
  width: 55%;
}
.cost1 {
  width: 15%;
}
.number1 {
  width: 15%;
}
.none1 {
  display: none;
}
.none2 {
  display: none;
}
p {
  text-align: end;
}
img {
  max-width: 200px;
}



@media screen and (max-width: 1850px) {
  .button1 {
    font-size: 12px;
  }
}

@media screen and (max-width: 1199px) {
  .cart {
    width: 90%;
    font-size: 12px;
  }
  .cart_button {
    font-size: 12px;
  }
  .button1 {
    font-size: 11px;
  }
}

@media screen and (max-width: 1135px) {
  .cart_button {
    font-size: 12px;
  }
  .none1 {
    display: block;
  }
  .button1 {
    font-size: 10px;
  }
  .cart_button {
    font-size: 10px;
  }
}

@media screen and (max-width: 800px) {
  .cart {
    width: 100%;
    font-size: 10px;
  }
  .button1 {
    font-size: 8px;
  }
  .cart_button {
    font-size: 8px;
  }
}

@media screen and (max-width: 705px) {
  .none2 {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .cart {
    width: 100%;
    font-size: 8px;
  }
}