.head {
	justify-content: space-between;
	margin-left: 5%;
	margin-right: 5%;
}
.search {
	font-size: 23px;
}
.search1 {
	font-size: 18px;
	margin-bottom: 3px;
}
.images {
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
	justify-content: space-between;
	grid-gap: 10px; /* 列間の間隔 */
}
.button{
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	appearance: none;
	margin-top: 70px;
	font-size: 40px;
}
.images {
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
	justify-content: space-between;
	grid-gap: 10px; /* 列間の間隔 */
}
.images a {
	max-width: 500px;
	height: auto;
}
.images a img {
	width: 100%;
	height: auto;
}
.genre {
	margin-left: 5%;
	margin-right: 5%;
}
.image {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.image a {
	flex: 0 0 calc(25% - 10px); /* 25% 幅から margin を引いたサイズに調整 */
	max-width: calc(25% - 10px);
	box-sizing: border-box; /* ボーダーボックスモデルを使用して、padding や border が要素の幅に含まれるようにする */
}
.image a img {
	width: 100%;
	height: auto;
}
.view {
  text-align: right;
  margin-top: 40px;
  margin-right: 80px;
}
.view a {
	font-size: 24px;
}
.genre h1 {
	font-size: 48px;
	margin-top: 60px;
}


@media screen and (max-width: 1199px) {
	.images {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2つの列を作成 */
    grid-gap: 10px; /* 列間の間隔 */
    justify-content: space-between!important;
    width: 100%; /* .container自体が親要素に対して100%の幅を持つように設定 */
    max-width: 900px; /* 必要に応じて最大幅を指定 */
    margin: 0 auto; /* 中央に配置するためのmargin設定 */
	}

	.images a {
		max-width: 400px;
		height: auto;
	}

	.genre h1 {
		font-size: 30px;
	}
	.button{
		font-size: 20px;
	}
}

@media screen and (max-width: 400px) {
	.images {
		display: block;
		justify-content: center;
		margin: 0;
	}
	.images a {
		max-width: 350px;
		height: auto;
	}
	.genre h1 {
		font-size: 20px;
	}
	.button{
		font-size: 20px;
		padding-bottom: 10px;
	}
}