.image {
	margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
}
.image a {
  flex: 0 0 calc(22.5% - 20px);
  margin: 15px;
}
.image img {
  width: 100%;
  height: auto;
  display: block;
}
.result {
	margin-left: 10%;
}


@media screen and (max-width: 1199px) {
  .image {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2つの列を作成 */
    grid-gap: 10px; /* 列間の間隔 */
    justify-content: space-between!important;
    width: 100%; /* .container自体が親要素に対して100%の幅を持つように設定 */
    max-width: 900px; /* 必要に応じて最大幅を指定 */
    margin: 0 auto; /* 中央に配置するためのmargin設定 */
  }
  .image a {
		max-width: 400px;
		height: auto;
  }
}

@media screen and (max-width: 400px) {
  .image {
		display: block;
		justify-content: center;
		margin: 0;
  }
  .image a {
		max-width: 350px;
		height: auto;
  }
}